/* Google search ads */
li.ads-ad,
div#taw,
div#bottomads,
div[aria-label=Ads] {
  display: none;
}

/* Google “sponsored” rhs column */
div.commercial-unit-desktop-rhs {
  display: none;
}

/* DuckDuckGo ads */
div#ads,
.results--ads,
.results--ads--main
.js-results-ads {
  display: none;
}

/* gamepedia ads */
div[id^=siderail_],
div[id$=_gamepedia] {
  display: none;
}

iframe[title*="Campaign" i] {
  display: none !important;
}
